html
  head
    title!= title
    meta(charset="utf-8")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='/highcharts.js')
    script(src='/three.min.js')
    script(src='/threejs/renderers/Projector.js')
    script(src='/threejs/libs/stats.min.js')
    link(rel='stylesheet', href='/main.css')
  body
    section#react
    script(src='/app.js')
    script(type='text/javascript',id="__bs_script__").
       document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.7.13.js'><\/script>".replace("HOST", location.hostname));
    
    
    