html
  head
    title!= title
    meta(charset="utf-8")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='/highcharts.js')
    script(src='/three.min.js')
    script(src='/threejs/renderers/Projector.js')
    script(src='/threejs/libs/stats.min.js')
    link(rel='stylesheet', href='/main.css')
  body
    section#react
    script(src='/app.js')
    
    
    