
.sillyContainer {
  padding: 0px;
  background-color: "#f0f0f0";
}

.sillyContainer img {
  width: 100;
  height: 100;
  float: left;
}

.sillyContainer h1 {
}

#highcharts {
}

/* The resource tiles are here but the resource block styles are in the react component */
#resources div{
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #aaa;
}

#environment div {
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #aaa;
}